.blogs {
   width: 100%;
   padding:  15%;
   background-color: black;

   &__title {
      font-size: 5rem;
      color: #ffffff;
      margin-bottom: 50px;
   }

   &__container {
      display: flex;
      width: 80%;
   }

}

.blog {
   width: 40%;

   margin-right: 20px;
   background: #ffffff;

   &__contents {
      padding: 50px
   }
}

.blog-template {
    color: #ffffff;
   h2 {
      font-size: 2rem;
      margin: 30px 0;
   }
   p {
      font-size: 1.2rem;
      color: #ffffff
   }
   img{
      width:100%;
      margin: 20px 0;
   }
}