// /* Background Colors - Light Theme (Default) */
// $light-background-color: #ffffff;

/* Background Colors - Dark Theme */
$dark-background-color: #000000;

/* Font Colors - Dark Theme (Option 1) */ 
$dark-primary-color: #4285F4;
$dark-secondary-color: #ffffff;
$dark-tertiary-color: #cec9c9;

/* Fonts */
$primary-font-family: 'TenorSans';
$primary-font-size-lrg: 2.5rem;
$secondary-font-family: 'Roboto Mono', sans-serif;

/* Font  Sizes */
$lg-font-size: 3rem;
$md-font-size: 2rem;
$sm-font-size: 1rem;

/* Padding */
$btn-padding: 1.5rem 1rem;

/* Section / Theme Specific */
$section: ".section";
$landing: ".landing";
$btn: ".btn";
$nav: ".nav";
$drawer: ".drawer";